html
    head
        link(rel="stylesheet", href="/css/style.css")
        title Document
    body
    form(action='/newuser' method='post')
        div.form
        label(for='Name') Username:
        input(type='text' id='name' placeholder='Name')

        div.form
        label(for='Email') Email:
        input(type='email' id='email' placeholder='Email')

        div.form
        label(for='Password') Password: 
        input(type='password' id='password' placeholder='Password')
        
        button(type='submit') Send
