* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    
}

header {
    width: 100%;
    background-image: linear-gradient(to right, rgba(209, 206, 49, 0.815), rgba(94, 219, 44, 0.685), rgba(54, 54, 228, 0.808));
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.menu ul li {
    display: inline-block;
    margin: 10px;
    padding: 15px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.box {
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
    padding: 5%;
    width: 15%;
    margin: 0 auto;
    margin-top: 150px;
    box-shadow: 5px 5px 30px rgb(3, 86, 241);
}

input {
    border-radius: 5px;
    height: 19px;
    width: 12rem;
}

::placeholder{
    padding: 5px;
}

.submit {
    background-color: #08d;
    border-radius: 5px;
    border: 0;
    color: #eee;
    cursor: pointer;
    height: 25px;
    outline: 0;
    text-align: center;
  }

@media screen and (max-width: 1240px){
	.box {
        border: 2px solid;
        border-radius: 10px;
        text-align: center;
        padding: 5%;
        width: 15%;
        margin: 0 auto;
        margin-top: 200px;
        box-shadow: 5px 5px 30px rgb(0, 0, 0);
    }

    input {
        width: 5rem;
    }

    .submit {
        background-color: #08d;
        border-radius: 12px;
        border: 0;
        color: #eee;
        cursor: pointer;
        height: 25px;
        outline: 0;
        text-align: center;
      }
}
